.dropdown {
  display: flex;
}

.menu {
  width: 450px;
  text-align: center;
}

.menu-title {
  background: #090032;
  color: #ffffff;
}

.sub-menu {
  display: none;
  position: relative;
}

.sub-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

.sub-menu > ul > li > a {
  color: #000000;
}

.menu:hover .sub-menu {
  display: inline-block;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
