@charset "utf-8";

body {
	width: 100%;
	height: 100vh;
	background:linear-gradient(45deg, #d7003a,#f19072,#ff6666);/*グラデーション*/
	background-size: 200% 200%;
	animation: bggradient 15s ease infinite;
}

@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
